/*------------------------------------------------------------------*/
/*-----------------------------GENERAL------------------------------*/
/*------------------------------------------------------------------*/

:root {
    --index-content-height: 760px;
    --index-hf-height: calc((100vh - 760px) / 2);
}

@font-face {
    font-family: MyBNMachine;
    src: url(../fonts/bnmachine.ttf);
}

@font-face {
    font-family: MyBolsterbold;
    src: url(../fonts/bolsterbold.ttf);
}

@media (max-width: 1440px){
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    color: #ffffff;
    background-color: #000000;
}

footer {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    line-height: 12vh;
    color: #ffffff;
    font-size: 54pt;
    font-family: MyBNMachine;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*---------------------------INDEX PAGE-----------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
#flash {
    opacity: 0;
    position: absolute;
    color: #ffffff;
    font-family: MyBNMachine;
    font-size: 128pt;
    line-height: 100vh;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #000000;
    text-align: center;
}

.header_index,
.footer_index {
    height: 12vh;
    width: 100vw;
    min-height: 64px;
    text-align: center;
}

#index_logo{
    height: 80%;
    margin-top: 0.6%;
}

.content {
    height: 76vh;
    width: 120vw;
    overflow: hidden;
}

.left,
.right {
    float: left;
    width: 60vw;
    height: 77vh;
    position: relative;
    text-align: center;
    font-size: 70pt;
    line-height: 76vh;
    text-decoration: none;
    transform: skewX(20deg);
}

.left {
    background-image: linear-gradient(180deg, #FEF9FB 0%, #FEF9FB 45%, #FCE7F1 45%, #FCE7F1 55%, #745A64 55%, #745A64 100%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: all .1s linear;
    font-family: MyBNMachine;
    margin-left: -10vw;
    color: #000000;
    opacity: 1;
    cursor: pointer;
}

.left:hover {
    background-position: 0% 100%;
    transition: all .5s ease;
}

.left:hover>.unskew {
    opacity: 0;
    transition: all .5s ease;
}

.left:hover>.unskew2 {
    opacity: 1;
    transition: all .5s ease;
}

.right {
    background-color: #FEF9FB;
    background-image: linear-gradient(180deg, #1C4F70 0%, #1C4F70 45%, #3AB5E2 45%, #3AB5E2 55%, #0c161d 55%, #0c161d 100%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: all .1s linear;
    font-family: MyBolsterbold;
    color: #ffffff;
    opacity: 1;
}


.right:hover {
    background-position: 0% 100%;
    transition: all .5s ease;
}

.right:hover>.unskew {
    opacity: 0;
    transition: all .5s ease;
}

.right:hover>.unskew3 {
    opacity: 1;
    transition: all .5s ease;
}

.unskew {
    transform: skewX(-20deg);
    height: 0px;
    transition: all .1s linear;
}

.unskew2 {
    transform: skew(-20deg);
    margin-left: 10vw;
    margin-top: calc((76vh / 2) - (76vh / 4));
    height: inherit;
    width: 40vw;
    opacity: 0;
    transition: all .1s linear;
    font-size: 24pt;
    line-height: 24pt;
    color: #FCE7F1;
    overflow: auto;
}

.unskew3 {
    transform: skew(-20deg);
    margin-top: calc((76vh / 2) - (76vh / 4));
    height: inherit;
    width: 40vw;
    opacity: 0;
    transition: all .1s linear;
    font-size: 24pt;
    line-height: 24pt;
    color: #3AB5E2;
    overflow: auto;
}

.left .unskew {
    margin-left: 20vw;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*---------------------------SIDEM PAGE-----------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
.side_m {
    transform: skew(15deg);
}

.side_f {
    transform: skew(-15deg);
}

.outer-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 120vw;
    overflow: hidden;
}

.slant {
    height: 100%;
    overflow: hidden;
    float: left;
}

.mdcol {
    background-color: #745A64;
}

.mlcol {
    background-color: #FCE7F1;
}

.mlgrad {
    background-image: linear-gradient(270deg, #FCE7F1 50%, rgb(218, 178, 197) 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: all 0.1s linear;
    cursor: pointer;
}

.mlgrad:hover {
    background-position: 80% 0%;
    transition: all 0.5s ease;
}

.fdcol {
    background-color: #1C4F70;
}

.flcol {
    background-color: #3AB5E2;
}

.flgrad {
    background-image: linear-gradient(90deg, #3ab5e2 50%, rgb(0, 100, 136) 50%);
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: all 0.1s linear;
    cursor: pointer;
}

.flgrad:hover {
    background-position: 20% 0%;
    transition: all 0.5s ease;
}

/*----------------Description Side-----------------*/
.desc-side-m {
    width: 50vw;
    height: 100vh;
    float: left;
    margin-left: -15vw;
}

.desc-side-f {
    width: 50vw;
    height: 100vh;
    float: left;
}

/*The utmost left black box*/
.m1 {
    width: 37.5%;
    background-color: #000000;
}

/*Description block on the left*/
.m2 {
    width: 62.5%;
}

.topfill {
    background-color: #000000;
    width: 100%;
    height: 20vh;
    color: #ffffff;
    text-align: Center;
    font-size: 8vh;
}

.topm {
    font-family: MyBNMachine;
}

.topf {
    font-family: MyBolsterbold;
}

.descbox {
    width: 100%;
    height: 70vh;
    padding: 5% 0%;
}

.descbox #picbox {
    height: 35%;
    width: 90%;
    margin-left: 5%;
}

.descbox #textbox-m {
    margin-top: 5%;
    height: 60%;
    width: 85%;
    margin-left: 5%;
    font-family: MyBNMachine;
    font-size: 20pt;
    color: #000000;
    padding: 4px 2.5%;
    overflow: auto;
}

.descbox #textbox-f {
    margin-top: 5%;
    height: 60%;
    width: 85%;
    margin-left: 5%;
    font-family: MyBolsterbold;
    font-size: 20pt;
    color: #000000;
    padding: 4px 2.5%;
    overflow: auto;
    letter-spacing: -1pt;
}

/*----------------Linking Side-------------------*/
.link-side-m {
    width: 80vw;
    height: 100vh;
    float: left;
}

.link-side-f {
    width: 80vw;
    height: 100vh;
    float: left;
    margin-left: -15vw;
}

/*Mid-Devider*/
.m3 {
    width: 8%;
    overflow: hidden;
}

.devide_l {
    width: 50%;
    height: 100%;
    background-color: #000000;
    float: left;
}

.devide_s {
    margin-left: 20%;
    width: 30%;
    height: 100%;
    background-color: #000000;
    float: left;
}

/*Link Blocks*/
.m4 {
    width: 50%;
    overflow: hidden;
}

.linkbox {
    height: 15%;
    width: 100%;
    margin-top: 2%;
}

.toplink {
    margin-top: 25%;
}

.linkbox-black-edition {
    height: 50%;
    width: 100%;
    margin-top: 2%;
    background-color: #000000;
}

.m5 {
    width: 42%;
    background-image: linear-gradient(0deg, #ffffff 50%, #000000 50%);
    background-size: 100% 200%;
    background-position: 0 0%;
    transition: all 0.1s linear;
    color: #ffffff;
}

.topmenu-m {
    color: inherit;
    font-family: MyBNMachine;
    font-size: 80pt;
    transform: skew(-15deg) rotate(75deg);
    width: 900px;
    margin-left: -408px;
    margin-top: 380px;
}

.topmenu-f {
    color: inherit;
    font-family: MyBolsterbold;
    font-size: 70pt;
    transform: skew(15deg) rotate(-75deg);
    width: 1000px;
    margin-right: -464px;
    margin-top: 120px;
    float: right;
}

.m5:hover {
    background-position: 0 -100%;
    color: #000000;
    transition: all 0.3s ease;
}

.icon {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.icontextm {
    width: 80%;
    height: 100%;
    transform: skew(-15deg);
    float: left;
    text-align: center;
    line-height: 150%;
    font-family: MyBNMachine;
    font-size: 9vh;
}

.icontextf {
    width: 80%;
    height: 100%;
    transform: skew(15deg);
    float: left;
    text-align: center;
    line-height: 150%;
    font-family: MyBolsterbold;
    font-size: 9vh;
}

.iconimgm {
    width: 80%;
    height: 80%;
    transform: skew(-15deg);
    padding: 10%;
    font-family: MyBNMachine;
}

.iconimgf {
    width: 80%;
    height: 80%;
    transform: skew(15deg);
    padding: 10%;
    font-family: MyBNMachine;

}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*-----------------------------FM PAGE------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
.container-page {
    width: 100vw;
    height: 100vh;
    min-height: 900px;
}

.header_m {
    height: 15vh;
    width: 100vw;
    text-align: center;
    color: #ffffff;
    font-family: MyBNMachine;
    background-image: linear-gradient(90deg, #000000 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 0% 0%;
    font-size: 70pt;
    line-height: 70pt;
    text-decoration: none;
    transition: all 0.1s linear;
    cursor: pointer;
}

.header_m:hover {
    background-position: -100% 0%;
    color: #000000;
    transition: all 0.3s ease;
}

#content-m {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#lonely {
    width: 700px;
    background-color: #bbbbbb;
    margin-top: 25px;
    height: 70vh;
}

.footer_m {
    height: 10vh;
    width: 100vw;
}

#lonely .header {
    height: 96px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

#lonely .content {
    height: calc(100% - 112px);
    width: 100%;
}

#lonely .footer {
    height: 16px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

#sidephoto {
    height: 58%;
    width: 35%;
    padding: 2.5%;
    float: left;
    text-align: center;
}

#sidetext {
    height: 90%;
    width: 55%;
    padding: 2.5%;
    float: left;
}

/*When I gave up sorting stuff*/
#f {
    width: 90%;
    padding-left: 5%;
    transform: skewX(15deg);
}

#m {
    width: 90%;
    padding-left: 5%;
    transform: skewX(-15deg);
}

#sideimg {
    width: 100%;
    box-shadow: 10px 10px 5px black;
}

#fml-icon {
    height: 100%;
    width: 20%;
    float: left;
}

#fml-text {
    height: 100%;
    width: 80%;
    float: left;
    font-size: 50pt;
    color: #ffffff;
    line-height: 96px;
}

#fml-img {
    width: 80%;
    height: 80%;
    padding: 10%;
}
}